<section class="about">
    <div class="container about__wrapper">
        <div class="about__info">
            <p class="about__desc">Что входит в курс</p>
            <h2 class="about__title">Вы получаете</h2>
        </div>

        <div class="about__benefits-blocks">
            <div class="about__benefits-one about__benefits-item">
                <img class="about__elipse" src="../img/Ellipse1.svg" alt="элипс">
                <img class="about__benefits" src="../img/Benefits1.svg" alt="картинка">
    
                <p class="about__benefits-desc"><span class="about__benefits-correct">Сертификат</span> по итогам обучения</p>
            </div>

            <div class="about__benefits-two about__benefits-item">
                <img class="about__elipse" src="../img/Ellipse1.svg" alt="элипс">
                <img class="about__benefits" src="../img/Benefits2.svg" alt="картинка">
    
                <p class="about__benefits-desc"> Выбирайте <span class="about__benefits-correct">любое количество</span> уроков с преподавателем</p>
            </div>

            <div class="about__benefits-three about__benefits-item">
                <img class="about__elipse" src="../img/Ellipse1.svg" alt="элипс">
                <img class="about__benefits" src="../img/Benefits3.svg" alt="картинка">
    
                <p class="about__benefits-desc"> <span class="about__benefits-correct">Грамматика “без воды”</span>, а только реально нужная информация для вас</p>
            </div>

            <div class="about__benefits-four about__benefits-item">
                <img class="about__elipse" src="../img/Ellipse1.svg" alt="элипс">
                <img class="about__benefits" src="../img/Benefits4.svg" alt="картинка">
    
                <p class="about__benefits-desc"><span class="about__benefits-correct">Индивидуальная программа</span> занятий под ваши задачи</p>
            </div>

            <div class="about__benefits-five about__benefits-item">
                <img class="about__elipse" src="../img/Ellipse1.svg" alt="элипс">
                <img class="about__benefits" src="../img/Benefits5.svg" alt="картинка">
    
                <p class="about__benefits-desc"> <span class="about__benefits-correct">Постановка разговорной речи</span> от лучших преподавателей</p>
            </div>

            <div class="about__benefits-six about__benefits-item">
                <img class="about__elipse" src="../img/Ellipse1.svg" alt="элипс">
                <img class="about__benefits" src="../img/Benefits6.svg" alt="картинка">
    
                <p class="about__benefits-desc"> <span class="about__benefits-correct">Самая актуальная</span> и употребляемая <span class="about__benefits-correct">лексика</span></p>
            </div>
    </div>
</section>
