<section class="costes">
  <div class="container costes__wrapper">
    <span class="costes__cost">Стоимость</span>

    <h2 class="costes__title">Сколько это стоит</h2>

    <form class="costes__form">
      <p class="costes__form__desc">Кол-во занятий (выберите):</p>

      <div class="costes__form__items">
        <div class="costes__form__items__block">
          <input
            type="radio"
            class="costes__form__items__block__radio-one costes__form__items__block__radio"
            id="sex1"
            name="contact"
            value="1 - 7"
          />
          <label class="costes__form__items__label" for="sex1"
            >1 - 7 занятий</label
          >
        </div>

        <div class="costes__form__items__block">
          <input
            type="radio"
            class="costes__form__items__block__radio-two costes__form__items__block__radio"
            id="sex2"
            name="contact"
            value="8"
          />
          <label class="costes__form__items__label" for="sex2">8 занятий</label>
        </div>

        <div class="costes__form__items__block">
          <input
            type="radio"
            class="costes__form__items__block__radio-three costes__form__items__block__radio"
            id="sex3"
            name="contact"
            value="16"
          />
          <label class="costes__form__items__label" for="sex3"
            >16 занятий</label
          >
        </div>

        <div class="costes__form__items__block">
          <input
            type="radio"
            class="costes__form__items__block__radio-four costes__form__items__block__radio"
            id="sex4"
            name="contact"
            value="24"
          />
          <label class="costes__form__items__label" for="sex4"
            >24 занятия</label
          >
        </div>

        <div class="costes__form__items__block">
          <input
            type="radio"
            class="costes__form__items__block__radio-five costes__form__items__block__radio"
            id="sex5"
            name="contact"
            value="32"
          />
          <label class="costes__form__items__label" for="sex5"
            >32 занятия</label
          >
        </div>
      </div>

      <div class="costes__form__prices">
        <p class="costes__form__prices__desc-one">
          Стоимость одного занятия
          <span class="costes__form__prices__rub">1000</span> руб.
        </p>

        <p class="costes__form__prices__desc-two">
          Всего за
          <span class="costes__form__prices__lessons costes__form__prices__rub"
            >00</span
          >
          занятий
          <span
            class="costes__form__prices__total-cost costes__form__prices__rub"
            >0000</span
          >
          руб
        </p>
      </div>

      <button class="costes__form__btn" type="submit">
        Оставить заявку на пробный урок
      </button>
    </form>
  </div>
</section>
