<footer class="footer">
  <div class="container footer__wrapper">
    <h2 class="footer__title">
      Остался вопрос или нужна консультация? Свяжитесь с нами, мы с радостью вам
      поможем
    </h2>

    <div class="footer__items">
      <button class="footer__items__first-btn footer__items__btn">
        Задать вопрос
      </button>
      <button class="footer__items__two-btn footer__items__btn">
        Записаться на курс
      </button>
    </div>
  </div>
</footer>

<script defer src="js/libs.min.js"></script>
<script defer src="js/app.js"></script>
