<section class="levels">
    <div class="container levels__wrapper">
        <h2 class="levels__title">
        На наших индивидуальных занятиях вы можете прокачать любой уровень
        владения турецким языком*
        </h2>
    </div>
    
    <div class="swiper-container levels__blocks">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="levels__blocks__item">
            <h3 class="levels__blocks__item__title">
              <span class="levels__blocks__item__letter">A1</span> <br /><span
                class="levels__blocks__item__text-level"
                >базовый уровень</span
              >
            </h3>

            <span class="levels__blocks__item__spells">Ваши навыки:</span>

            <p class="levels__blocks__item__desc">
              По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час, использовать цифры от 1 до 1 000. 
            </p>

            <button class="levels__blocks__item__btn">Узнать больше</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="levels__blocks__item">
            <h3 class="levels__blocks__item__title">
              <span class="levels__blocks__item__letter">A2</span> <br /><span
                class="levels__blocks__item__text-level"
                >начальный уровень</span
              >
            </h3>

            <span class="levels__blocks__item__spells">Ваши навыки:</span>

            <p class="levels__blocks__item__desc">
              Вы легко строите предложения в прошлом, настоящем и будущем времени. Вы чувствуете себя уверенно, общаясь в аэропорту, отеле, магазине, ресторане. 

              Вы говорите и задаете вопросы о планах на будущее, обсуждаете погоду, сравниваете людей, события, города.
            </p>

            <button class="levels__blocks__item__btn">Узнать больше</button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="levels__blocks__item">
            <h3 class="levels__blocks__item__title">
              <span class="levels__blocks__item__letter">B1</span> <br /><span
                class="levels__blocks__item__text-level"
                >средний уровень</span
              >
            </h3>

            <span class="levels__blocks__item__spells">Ваши навыки:</span>

            <p class="levels__blocks__item__desc">
              Вы способны рассказать и спросить других об образовании, о предпочтениях в искусстве, литературе, можете дискутировать и высказать свою точку зрения. Вы можете писать формальные и неформальные письма. Этот уровень является минимальным, чтобы претендовать на работу в иностранных компаниях.
            </p>

            <button class="levels__blocks__item__btn">Узнать больше</button>
          </div>
        </div>

        <div class="swiper-slide">
            <div class="levels__blocks__item">
              <h3 class="levels__blocks__item__title">
                <span class="levels__blocks__item__letter">B2</span> <br /><span
                  class="levels__blocks__item__text-level"
                  >уровень выше среднего</span
                >
              </h3>
  
              <span class="levels__blocks__item__spells">Ваши навыки:</span>
  
              <p class="levels__blocks__item__desc">
                Вы готовы говорить не только на бытовые темы, но и обсуждать международные новости, политику, исторические вопросы, делать выводы, приводить доказательства, делать предположения о будущем, используя фразовые глаголы, составные прошедшие и будущие времена, используя широкий словарный запас.
              </p>
  
              <button class="levels__blocks__item__btn">Узнать больше</button>
            </div>
          </div>

          <div class="swiper-slide">
            <div class="levels__blocks__item">
              <h3 class="levels__blocks__item__title">
                <span class="levels__blocks__item__letter">C1</span> <br /><span
                  class="levels__blocks__item__text-level"
                  >продвинутый уровень</span
                >
              </h3>
  
              <span class="levels__blocks__item__spells">Ваши навыки:</span>
  
              <p class="levels__blocks__item__desc">
                Вы легко поддерживаете общение в формальных и неформальных жизненных ситуациях. Вы смотрите ТВ программы и художественные фильмы на турецком без особых усилий, читаете статьи в газетах и журналах широкой направленности, способны написать письмо, эссе, статью на заданную тему. 
              </p>
  
              <button class="levels__blocks__item__btn">Узнать больше</button>
            </div>
          </div>
        </div>
      </div>

      <div class="levels__blocks__navigation">
        <div class="levels__blocks__prev levels__blocks__btn">
            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2.50746 6.97291C2.60299 7.08429 2.65075 7.14618 2.69851 7.19568C4.14328 8.69321 5.57612 10.1907 7.0209 11.6759C7.2597 11.9234 7.51045 12.1586 7.73731 12.4185C8.16716 12.9011 8.04776 13.619 7.49851 13.9036C7.16418 14.0769 6.77015 14.015 6.48358 13.7304C6.2209 13.4704 5.97015 13.2105 5.7194 12.9506C4.1194 11.2922 2.50746 9.63381 0.907463 7.97539C0.608955 7.66598 0.310448 7.3442 0 6.99766C0.0358209 6.94816 0.0955224 6.8739 0.155224 6.81202C2.23284 4.65855 4.32239 2.50507 6.4 0.339228C6.75821 -0.0320602 7.16418 -0.0568128 7.45075 0.0669499C8.02388 0.314475 8.19104 1.06943 7.76119 1.5521C7.48657 1.86151 7.2 2.13379 6.92537 2.43082C5.52836 3.89122 4.13134 5.32686 2.74627 6.77489C2.67463 6.83677 2.60299 6.88627 2.50746 6.97291Z" fill="#E6514A"/>
            </svg>                             
        </div>

        <p class="levels__blocks__navigation__desc">*Если вы хотите прокачать любой из уровней турецкого и получить сертификат по итогам обучения, тогда вам необходимо 32 занятия с преподавателем индивидуально. </p>

        <div class="levels__blocks__next levels__blocks__btn">
            <svg width="9" height="14" viewBox="0 0 9 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.49559 7.02709C5.40007 6.91571 5.35231 6.85382 5.30454 6.80432C3.85977 5.30679 2.42693 3.80926 0.982157 2.32411C0.743351 2.07658 0.492604 1.84143 0.265739 1.58153C-0.164112 1.09886 -0.0447081 0.381034 0.504545 0.0963805C0.838874 -0.0768878 1.2329 -0.0150057 1.51947 0.269648C1.78216 0.52955 2.0329 0.789452 2.28365 1.04935C3.88365 2.70777 5.49559 4.36619 7.09559 6.02461C7.3941 6.33402 7.6926 6.6558 8.00305 7.00234C7.96723 7.05184 7.90753 7.1261 7.84783 7.18798C5.77022 9.34145 3.68066 11.4949 1.60305 13.6608C1.24484 14.0321 0.838872 14.0568 0.552305 13.933C-0.0208292 13.6855 -0.187993 12.9306 0.241858 12.4479C0.516484 12.1385 0.803052 11.8662 1.07768 11.5692C2.47469 10.1088 3.87171 8.67314 5.25678 7.22511C5.32843 7.16323 5.40007 7.11373 5.49559 7.02709Z" fill="#E6514A"/>
            </svg>                
        </div>
      </div>

      <div class="levels__modal">
        <div class="levels__modal__content">
          <button class="levels__modal__content__close">
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M15.4813 13.1402C13.7764 11.4098 12.0715 9.70492 10.3665 8C12.0715 6.29508 13.7764 4.59016 15.5067 2.85979C17.0335 1.33299 14.667 -1.03354 13.1402 0.493255C11.4098 2.22362 9.70492 3.92855 8 5.63347C6.29508 3.92855 4.59016 2.22362 2.85979 0.518702C1.33299 -1.00809 -1.03354 1.35844 0.493255 2.88523C2.22362 4.59016 3.92855 6.29508 5.63347 8C3.92855 9.70492 2.22362 11.4098 0.518702 13.1402C-1.00809 14.667 1.35844 17.0335 2.88523 15.5067C4.59016 13.7764 6.29508 12.0715 8 10.3665C9.70492 12.0715 11.4098 13.7764 13.1402 15.5067C14.6416 17.0081 17.0081 14.6416 15.4813 13.1402Z" fill="#23283B"/>
            </svg>              
          </button>
          <h3 class="levels__modal__content__title">
            <span class="levels__modal__content__letter">A1</span> <br /><span
              class="levels__modal__content__text-level"
              >базовый уровень</span
            >
          </h3>

          <span class="levels__modal__content__spells">Ваши навыки:</span>

          <p class="levels__modal__content__desc">
            По завершении уровня вы можете простыми предложениями рассказать о себе, о своей семье, друзьях, работе. Для вас проще простого описать, что вы любите и не любите делать. Вы умеете спрашивать и отвечать который час, использовать цифры от 1 до 1 000. 
          </p>
        </div>
      </div>
  </div>
</section>
