<main class="main">
  <div class="container main__wrapper">
    <div class="main__info">
      <p class="main__desc">Бесплатный урок!</p>
      <h1 class="main__title">Индивидуальный Турецкий онлайн</h1>
      <p class="main__desc-info">
        Хотите быстро прокачать язык для личной жизни, работы, учебы и ПМЖ в
        Турции? Занимайтесь онлайн с лучшими преподавателями и начните говорить
        на турецком с первых занятий.
      </p>

      <button class="main__btn">Записаться на пробный урок</button>
    </div>

    <img class="main__img" src="../img/Rectangle.svg" alt="Туркиш" />
  </div>
</main>
