<section class="profitably">
  <div class="container profitably__wrapper">
    <div class="profitably__images">
      <img src="../img/Layer.svg" alt="турок" class="profitably__img" />
    </div>

    <div class="profitably__info">
      <p class="profitably__info__desc">
        Почему выгодно заниматься с нами
      </p>

      <h2 class="profitably__info__title">
        Почему выгодно заниматься индивидуально с преподавателем у нас
      </h2>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            Проверенные преподаватели
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          Наши преподаватели умеют объяснять грамматику легко, покажут быстрые и
          эффективные приемы запоминания слов и фраз, научат, как заговорить на
          турецком уже на первом уроке.
        </p>
      </div>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            Проверенная методика обучения
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          Дает гарантированный результат, проверенный более чем на 1000
          учениках.
        </p>
      </div>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            “Диалог” на рынке более 15 лет
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          Обучаться с нами надежно и спокойно. И мы знаем, как обучить вас языку
          на нужный уровень в максимально короткие сроки.
        </p>
      </div>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            Проверка ДЗ в личном кабинете
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          Вы сможете видеть прогресс и корректировать обучение. В итоге вы
          намного быстрее заговорите на языке.
        </p>
      </div>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            Индивидуальная программа занятий
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          Подбирается под ваш запрос (деловой, бытовой турецкий и т.п.)
        </p>
      </div>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            Любое количество занятий с преподавателем
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          Выбирайте столько уроков, сколько вам нужно и не переплачивайте
        </p>
      </div>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            Материалы по турецкому навсегда
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          В личном кабинете у вас остаются все уроки по турецкому (грамматика,
          чтение, аудирование)
        </p>
      </div>

      <div class="profitably__info__block">
        <div class="profitably__info__block__section">
          <img
            src="../img/Check.svg"
            alt="галочка"
            class="profitably__info__block__section__img"
          />

          <h3 class="profitably__info__block__section__title">
            Система скидок по количеству занятий
          </h3>
        </div>

        <p class="profitably__info__block__desc">
          Мы делаем обучение доступным для всех. Обучаться с нами комфортно.
        </p>
      </div>
    </div>

    <div class="profitably__test">
      <button class="profitably__btn">Записаться на пробный урок</button>
    </div>
  </div>
</section>
