<section class="reasons">
  <div class="container reasons__wrapper">
    <p class="reasons__desc">Для кого</p>

    <h2 class="reasons__title">
      Когда индивидуальные занятия для вас будут максимально полезны
    </h2>
  </div>
  <div class="reasons__wrapper">
    <div class="swiper-container reasons__blocks">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reasons__blocks__item">
            <h3 class="reasons__blocks__item__title">
              Вы познакомились с другом/подругой из Турции
            </h3>

            <p class="reasons__blocks__item__desc">
              И вы хотите, чтобы между вами скорее возникло взаимопонимание и
              приятное общение.
            </p>

            <p class="reasons__blocks__item__desc">
              Индивидуальные уроки помогут вам почувствовать себя уверенно,
              легко понимать вашего партнера, свободно выражать свои мысли и
              получать удовольствие от общения.
            </p>

            <span class="reasons__blocks__item__number">1</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reasons__blocks__item">
            <h3 class="reasons__blocks__item__title">
              У вас родственники в Турции
            </h3>

            <p class="reasons__blocks__item__desc">
              Вы собираетесь к родственникам в Турции. А может, у вас есть муж
              или жена в Турции, с которыми вам важно наладить общение и
              отношения.
            </p>

            <p class="reasons__blocks__item__desc">
              Возьмите индивидуальные онлайн уроки в нужном вам количестве,
              чтобы скорее научиться понимать, слышать собеседника и говорить о
              том, что волнует вас.
            </p>

            <span class="reasons__blocks__item__number">2</span>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reasons__blocks__item">
            <h3 class="reasons__blocks__item__title">
              Вы обучаетесь, и вам нужно знание турецкого
            </h3>

            <p class="reasons__blocks__item__desc">
              Бывает, что изучаешь турецкий на курсах в записи, а толку нет.
            </p>

            <p class="reasons__blocks__item__desc">
              Но если вы обучаетесь там, где необходим турецкий, то владение
              языком нужно вам как можно скорее.
            </p>

            <p class="reasons__blocks__item__desc">
              “Подтяните” лексику по вашей теме, грамматику или разговорные
              навыки — в ускоренном темпе с преподавателем.
            </p>
            <span class="reasons__blocks__item__number">3</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reasons__blocks__item">
            <h3 class="reasons__blocks__item__title">
              Вы обучаетесь, и вам нужно знание турецкого
            </h3>

            <p class="reasons__blocks__item__desc">
              Бывает, что изучаешь турецкий на курсах в записи, а толку нет.
            </p>

            <p class="reasons__blocks__item__desc">
              Но если вы обучаетесь там, где необходим турецкий, то владение
              языком нужно вам как можно скорее.
            </p>

            <p class="reasons__blocks__item__desc">
              “Подтяните” лексику по вашей теме, грамматику или разговорные
              навыки — в ускоренном темпе с преподавателем.
            </p>
            <span class="reasons__blocks__item__number">4</span>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="reasons__blocks__item">
            <h3 class="reasons__blocks__item__title">
              Вы обучаетесь, и вам нужно знание турецкого
            </h3>

            <p class="reasons__blocks__item__desc">
              Бывает, что изучаешь турецкий на курсах в записи, а толку нет.
            </p>

            <p class="reasons__blocks__item__desc">
              Но если вы обучаетесь там, где необходим турецкий, то владение
              языком нужно вам как можно скорее.
            </p>

            <p class="reasons__blocks__item__desc">
              “Подтяните” лексику по вашей теме, грамматику или разговорные
              навыки — в ускоренном темпе с преподавателем.
            </p>
            <span class="reasons__blocks__item__number">5</span>
          </div>
        </div>
      </div>

      <div class="reasons__blocks__navigation">
        <div class="reasons__blocks__prev reasons__blocks__dima">
          <svg
            width="9"
            height="14"
            viewBox="0 0 9 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M2.50746 6.97291C2.60299 7.08429 2.65075 7.14618 2.69851 7.19568C4.14328 8.69321 5.57612 10.1907 7.0209 11.6759C7.2597 11.9234 7.51045 12.1586 7.73731 12.4185C8.16716 12.9011 8.04776 13.619 7.49851 13.9036C7.16418 14.0769 6.77015 14.015 6.48358 13.7304C6.2209 13.4704 5.97015 13.2105 5.7194 12.9506C4.1194 11.2922 2.50746 9.63381 0.907463 7.97539C0.608955 7.66598 0.310448 7.3442 0 6.99766C0.0358209 6.94816 0.0955224 6.8739 0.155224 6.81202C2.23284 4.65855 4.32239 2.50507 6.4 0.339228C6.75821 -0.0320602 7.16418 -0.0568128 7.45075 0.0669499C8.02388 0.314475 8.19104 1.06943 7.76119 1.5521C7.48657 1.86151 7.2 2.13379 6.92537 2.43082C5.52836 3.89122 4.13134 5.32686 2.74627 6.77489C2.67463 6.83677 2.60299 6.88627 2.50746 6.97291Z"
              fill="#E6514A"
            />
          </svg>
        </div>

        <button class="reasons__blocks__btn">Записаться на пробный урок</button>

        <div class="reasons__blocks__next reasons__blocks__dima">
          <svg
            width="9"
            height="14"
            viewBox="0 0 9 14"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5.49559 7.02709C5.40007 6.91571 5.35231 6.85382 5.30454 6.80432C3.85977 5.30679 2.42693 3.80926 0.982157 2.32411C0.743351 2.07658 0.492604 1.84143 0.265738 1.58153C-0.164112 1.09886 -0.0447083 0.381034 0.504545 0.0963804C0.838873 -0.0768879 1.2329 -0.0150058 1.51947 0.269648C1.78216 0.52955 2.0329 0.789452 2.28365 1.04935C3.88365 2.70777 5.49559 4.36619 7.09559 6.02461C7.3941 6.33402 7.6926 6.6558 8.00305 7.00234C7.96723 7.05184 7.90753 7.1261 7.84783 7.18798C5.77022 9.34145 3.68066 11.4949 1.60305 13.6608C1.24484 14.0321 0.838872 14.0568 0.552305 13.933C-0.0208292 13.6855 -0.187993 12.9306 0.241858 12.4479C0.516484 12.1385 0.803052 11.8662 1.07768 11.5692C2.47469 10.1088 3.87171 8.67314 5.25678 7.22511C5.32843 7.16323 5.40007 7.11373 5.49559 7.02709Z"
              fill="#E6514A"
            />
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
