<section class="reviews">
  <div class="container reviews__wrapper">
    <span class="reviews__text">Отзывы</span>

    <h2 class="reviews__title">
      Что говорят ученики, которые прошли обучение у нас
    </h2>

    <div class="swiper-container reviews__blocks">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="reviews__blocks__item">
            <img
              class="reviews__blocks__item__img"
              src="../img/Image1.png"
              alt="picture"
            />

            <div class="reviews__blocks__item__text">
              <span class="reviews__blocks__item__text__name"
                >Olivia Perfect</span
              >

              <p class="reviews__blocks__item__text__desc">
                The organization of practical interaction, of course, enhances
                the collective product placement. The main stage of market
                research spins the media channel, using the experience of
                previous campaigns.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__blocks__item">
            <img
              class="reviews__blocks__item__img"
              src="../img/Image1.png"
              alt="picture"
            />

            <div class="reviews__blocks__item__text">
              <span class="reviews__blocks__item__text__name"
                >Olivia Perfect</span
              >

              <p class="reviews__blocks__item__text__desc">
                The organization of practical interaction, of course, enhances
                the collective product placement. The main stage of market
                research spins the media channel, using the experience of
                previous campaigns.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__blocks__item">
            <img
              class="reviews__blocks__item__img"
              src="../img/Image1.png"
              alt="picture"
            />

            <div class="reviews__blocks__item__text">
              <span class="reviews__blocks__item__text__name"
                >Olivia Perfect</span
              >

              <p class="reviews__blocks__item__text__desc">
                The organization of practical interaction, of course, enhances
                the collective product placement. The main stage of market
                research spins the media channel, using the experience of
                previous campaigns.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__blocks__item">
            <img
              class="reviews__blocks__item__img"
              src="../img/Image1.png"
              alt="picture"
            />

            <div class="reviews__blocks__item__text">
              <span class="reviews__blocks__item__text__name"
                >Olivia Perfect</span
              >

              <p class="reviews__blocks__item__text__desc">
                The organization of practical interaction, of course, enhances
                the collective product placement. The main stage of market
                research spins the media channel, using the experience of
                previous campaigns.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__blocks__item">
            <img
              class="reviews__blocks__item__img"
              src="../img/Image1.png"
              alt="picture"
            />

            <div class="reviews__blocks__item__text">
              <span class="reviews__blocks__item__text__name"
                >Olivia Perfect</span
              >

              <p class="reviews__blocks__item__text__desc">
                The organization of practical interaction, of course, enhances
                the collective product placement. The main stage of market
                research spins the media channel, using the experience of
                previous campaigns.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="reviews__blocks__item">
            <img
              class="reviews__blocks__item__img"
              src="../img/Image1.png"
              alt="picture"
            />

            <div class="reviews__blocks__item__text">
              <span class="reviews__blocks__item__text__name"
                >Olivia Perfect</span
              >

              <p class="reviews__blocks__item__text__desc">
                The organization of practical interaction, of course, enhances
                the collective product placement. The main stage of market
                research spins the media channel, using the experience of
                previous campaigns.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="swiper-pagination"></div>

      <button class="reviews__btn">Хочу так же</button>
    </div>
  </div>
</section>
