<section class="start">
  <div class="container start__wrapper">
    <div class="start__test">
      <img class="start__image" src="../img/TyrkishFon.png" alt="image" />

      <span class="start__text">Как начать?</span>

      <h2 class="start__title">
        Как начать заниматься индивидуально с преподавателем школы “Диалог”
      </h2>

      <div class="start__blocks">
        <div class="start__blocks__items">
          <span class="start__blocks__items__number">1</span>

          <p class="start__blocks__items__desc">
            Оставьте заявку на сайте.
          </p>
        </div>

        <div class="start__blocks__items">
          <span class="start__blocks__items__number">2</span>

          <p class="start__blocks__items__desc">
            Мы назначаем пробный бесплатный урок.
          </p>
        </div>

        <div class="start__blocks__items">
          <span class="start__blocks__items__number">3</span>

          <p class="start__blocks__items__desc">
            По итогам первого пробного занятия подбираем преподавателя под ваши
            запросы.
          </p>
        </div>

        <div class="start__blocks__items">
          <span class="start__blocks__items__number">4</span>

          <p class="start__blocks__items__desc">
            Приступите к урокам с преподавателем.
          </p>
        </div>

        <div class="start__blocks__items">
          <span class="start__blocks__items__number">5</span>

          <p class="start__blocks__items__desc">
            Оцените свой результат уже после первых уроков.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
