<section class="teachers">
  <div class="container teachers__wrapper">
    <span class="teachers__text">Преподаватели</span>

    <h2 class="teachers__title">Наши преподаватели турецкого языка</h2>

    <div class="swiper-container teachers__blocks">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="teachers__blocks__item">
            <img
              src="../img/teachersOne.svg"
              alt="Image"
              class="teachers__blocks__item__img"
            />

            <div class="teachers__blocks__item__info">
              <span class="teachers__blocks__item__info__name"
                >Анастасия Ханым</span
              >

              <p
                class="teachers__blocks__item__info__desc-one teachers__blocks__item__info__desc"
              >
                Merhaba. Меня зовут Анастасия. Я преподаю турецкий язык уже 6
                лет, 5 из них в Онлайн школе "Диалог".
              </p>

              <p
                class="teachers__blocks__item__info__desc-two teachers__blocks__item__info__desc"
              >
                Преподавание для меня это не просто работа, это любимое дело,
                которому я посвящаю достаточно много времени. Всегда стараюсь
                найти подход ученику. У каждого свой путь изучения языка и
                индивидуальный подход это то, что необходимо для достижения
                хорошего результата.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teachers__blocks__item">
            <img
              src="../img/teachersOne.svg"
              alt="Image"
              class="teachers__blocks__item__img"
            />

            <div class="teachers__blocks__item__info">
              <span class="teachers__blocks__item__info__name"
                >Анастасия Ханым</span
              >

              <p
                class="teachers__blocks__item__info__desc-one teachers__blocks__item__info__desc"
              >
                Merhaba. Меня зовут Анастасия. Я преподаю турецкий язык уже 6
                лет, 5 из них в Онлайн школе "Диалог".
              </p>

              <p
                class="teachers__blocks__item__info__desc-two teachers__blocks__item__info__desc"
              >
                Преподавание для меня это не просто работа, это любимое дело,
                которому я посвящаю достаточно много времени. Всегда стараюсь
                найти подход ученику. У каждого свой путь изучения языка и
                индивидуальный подход это то, что необходимо для достижения
                хорошего результата.
              </p>
            </div>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="teachers__blocks__item">
            <img
              src="../img/teachersOne.svg"
              alt="Image"
              class="teachers__blocks__item__img"
            />

            <div class="teachers__blocks__item__info">
              <span class="teachers__blocks__item__info__name"
                >Анастасия Ханым</span
              >

              <p
                class="teachers__blocks__item__info__desc-one teachers__blocks__item__info__desc"
              >
                Merhaba. Меня зовут Анастасия. Я преподаю турецкий язык уже 6
                лет, 5 из них в Онлайн школе "Диалог".
              </p>

              <p
                class="teachers__blocks__item__info__desc-two teachers__blocks__item__info__desc"
              >
                Преподавание для меня это не просто работа, это любимое дело,
                которому я посвящаю достаточно много времени. Всегда стараюсь
                найти подход ученику. У каждого свой путь изучения языка и
                индивидуальный подход это то, что необходимо для достижения
                хорошего результата.
              </p>
            </div>
          </div>
        </div>
      </div>

      <!-- If we need navigation buttons -->
      <div
        class="swiper-button-prev teachers__slider-btn teachers__slider-btnOne"
      >
        <img
          class="teachers__slider-img"
          src="../img/ArrowNext.svg"
          alt="image"
        />
      </div>
      <div
        class="swiper-button-next teachers__slider-btn teachers__slider-btnTwo"
      >
        <img
          class="teachers__slider-img"
          src="../img/ArrowBack.svg"
          alt="image"
        />
      </div>
    </div>
  </div>
</section>
